<a href="https://colab.research.google.com/github/neel-madhav/CreditRiskModelling/blob/main/CreditRiskModelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df_bureaudata = pd.read_csv('bureau_data.csv')
df_customerdata = pd.read_csv('customers.csv')
df_loandata = pd.read_csv('loans.csv')
df_bureaudata.shape, df_customerdata.shape, df_loandata.shape

((50000, 8), (50000, 12), (50000, 15))

In [3]:
df = pd.merge(df_customerdata, df_loandata, on='cust_id')
df = pd.merge(df, df_bureaudata)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cust_id                      50000 non-null  object
 1   age                          50000 non-null  int64
 2   gender                       50000 non-null  object
 3   marital_status               50000 non-null  object
 4   employment_status            50000 non-null  object
 5   income                       50000 non-null  int64
 6   number_of_dependants         50000 non-null  int64
 7   residence_type               49938 non-null  object
 8   years_at_current_address     50000 non-null  int64
 9   city                         50000 non-null  object
 10  state                        50000 non-null  object
 11  zipcode                      50000 non-null  int64
 12  loan_id                      50000 non-null  object
 13  loan_purpose                 50000 non-null  object
 14  loan_type                    50000 non-null  object
 15  sanction_amount              50000 non-null  int64
 16  loan_amount                  50000 non-null  int64
 17  processing_fee               50000 non-null  float64
 18  gst                          50000 non-null  int64
 19  net_disbursement             50000 non-null  int64
 20  loan_tenure_months           50000 non-null  int64
 21  principal_outstanding        50000 non-null  int64
 22  bank_balance_at_application  50000 non-null  int64
 23  disbursal_date               50000 non-null  object
 24  installment_start_dt         50000 non-null  object
 25  default                      50000 non-null  bool
 26  number_of_open_accounts      50000 non-null  int64
 27  number_of_closed_accounts    50000 non-null  int64
 28  total_loan_months            50000 non-null  int64
 29  delinquent_months            50000 non-null  int64
 30  total_dpd                    50000 non-null  int64
 31  enquiry_count                50000 non-null  int64
 32  credit_utilization_ratio     50000 non-null  int64
dtypes: bool(1), float64(1), int64(19), object(12)
memory usage: 12.3+ MB

In [4]:
df['default'] = df['default'].astype(int)
df.default.value_counts()

default
0    45703
1     4297
Name: count, dtype: int64

## Data Leakage

In [8]:
X = df.drop("default", axis = "columns")
Y = df["default"]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =0.25, random_state=45)
df_train = pd.concat([X_train, Y_train], axis = "columns")
df_test = pd.concat([X_test, Y_test], axis = "columns")